<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File HTMl nhe</title>

</head>
<body>
    <% include partials/navbar.ejs %>
    <h1>Welcome to my website! Please Login to continue</h1>
    <p>You don't find a website better anywhere else!</p>
</body>
</html>

